@model IEnumerable<UPS.SpaceX.Core.DeskDto>



<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">DESK</th>
                <th scope="col">DATE</th>
                <th scope="col">EMAIL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UPS.SpaceX.Core.DeskDto desk in Model)
            {
                <tr>
                    <th scope="row"></th>
                    <td value="@desk.Id">@desk.Name</td>
                    <th scope="row">Blank</th>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }
</style>