@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="DivAvailableDesks">

</div>

<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/actions/desks.js"></script>