
@{
    ViewBag.Title = "LookUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">LookUp</h1>
<br />
<h2>Email</h2>

<div class="container">
    <div class="row">
        <div class="col-md">
            
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" type="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
   
        </div>

        <div class="col-md">
            <h2>Karma Points:</h2>
            <br />
            <h2><u>Reservations</u></h2>
        </div>
        <div class="col-md">
            <h2><u>Donated</u></h2>
        </div>
</div>
    </div>
   
        
       
        
        




