
@{
    ViewBag.Title = "LookUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LookUp</h1>
<br />
<h2>Email</h2>
<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" type="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>  <button type="button" class="btn btn-primary">Submit</button>

 <h2>Karma Points:</h2>
<br />
<h2><u>Donated</u></h2>
<br />
<h2><u>Reservations</u></h2>


