
@{
    ViewBag.Title = "LookUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/actions/desks.js"></script>
    }

    <h1 style="text-align:center">LookUp</h1>
    <br />
    <h4 class="centerText">Enter Your Email</h4>

    <div class="container">
        <div class="row">
            <div class="col-md">
                <div id="centerDate">
                    <div class="form-group">
                        @*<label for="exampleInputEmail1">Enter Your Email</label>*@
                        <input class="form-control" id="emailFiel" aria-describedby="emailHelp" placeholder="" type="email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        
                        <br />
                        <button type="button" onclick="myFunction()" class="btn btn-warning">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myDIV" style="display:none;">
        <div class="centerStuff">
            <h2>Karma Points:</h2>
            <br />
            <h2><u>Reservations</u></h2><br /><br />
            <div id="DivAvailableDesks"></div>
        </div>
        <div class="centerStuff">
            <h2><u>Donated</u></h2>
            <div id="DivAvailableDesks"></div>
        </div>
    </div>

    <script>
        function myFunction() {
            document.getElementById('myDIV').style.display = "block";
        }
    </script>