
@{
    ViewBag.Title = "LookUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LookUp</h1>
<br />

<h2>Enter your E-mail:</h2>  <h2>Karma Points:</h2>
<br />
<h2><u>Donated</u></h2>
<br />
<h2><u>Reservations</u></h2>


