
@{
    ViewBag.Title = "Reserve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/actions/desks.js"></script>



<br />
<button type="button" class="btn btn-primary">Back</button> <h1>Reserve a Desk</h1>



<h2>Desk:</h2>
<br />

   fgfgdfg

<br />
<h2>Date:</h2>

<<<<<<< HEAD
<div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>

<button type="button" class="btn btn-primary">Submit</button>


=======
>>>>>>> 476bf87026fc72f063563110d627a346e4d524b4

